@media(min-width: 847px){
    .contentModal_landscape{
        display: none;
    }
    .content_portrait{
        display: flex;
        width: 38%;
    }
    .contentModal{
        flex-direction: row;
        justify-content: space-around;
        padding: 10px 0;
    }
    .contentModal_about{
        width: 58%;
        padding: 0;
        height: 100%;
    }
    /* -------------- */
    .pageTitle{
        font-size: 6.4vw;
    }
}

@media(min-width: 416px) and (max-width: 856px){
    .header{
        gap: 8vw;
    }
    .appName{
        width: 22vw;
    }
    /* -------------- */
    .carouselItem{
        img{
            width: 100%;
        }
    }
    /* -------------- */
    .contentModal_landscape{
        display: none;
    }
    .content_portrait{
        display: flex;
        width: 38%;
        // margin-top: 15rem;
        align-self: flex-start;
    }
    .contentModal{
        flex-direction: row;
        // justify-content: space-around;
        align-items: center;
        padding: 10px 0;
    }
    .contentModal_about{
        width: 58%;
        padding: 0;
        height: 100%;
        margin: 3vw;
    }
    .tagline{
        font-size: 2vw;
    }
    .contentModal_title{
        font-size: 3vw;
        text-align: center;
        margin-top: 17rem;
    }
}
@media(max-width: 415px){
    .header{
        flex-direction: column;
        justify-content: center;
        .barButton{
            right: 5px;
            width: 12vw;
        }
        .bar{
            background-color: #131212;
            height: 7px;
            border-radius: 10px;
            width: 80%;
        }
        .nameBox{
            position: fixed;
            color: #131212;
            align-self: flex-start;
            width: 50%;
            img{
                width: 25%;
                align-self: flex-start;
                margin-right: 3vw;
            }
            .appName{
                font-size: 8vw ;
            }
        }
    }
    .navbar.on{
        flex-direction: column;
        align-items: center;
        position: fixed;
        right: 0;
        top: 0;
        gap: 1rem;
        padding: 20px 0;
        background-color: #192227cd;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        transition-duration: 500ms;
        transition: ease-in-out;
        z-index: 100;
    }
    .navbar{
        position: fixed;
        right: -500px;
    }
    .navIcon{
        color: #d0d5d9;
        width: 10rem;
        font-size: 1.5rem;
    }
    .icon{
        color: #d0d5d9;
    }
    /* -------------- */
    .carouselItem{
        img{
            width: 100%;
        }
    }
    /* -------------- */
    .contentModal{
        gap: 5vw;
    }
    .contentModal_landscape{
    }
    .contentModal_about{
        margin-top: 6rem;
        gap: 2vw;
    }
    .contentModal_title{
        font-size: 4vw;
        text-align: center;
    };
    .tagline{
        display: none
    };
    .contentModal_description{
        font-size: 3vw;
    }
    /* -------------- */
    .pageTitle{
        font-size: 8vw !important;
    }
}