*{
  scroll-behavior: smooth;
}
.App{
    min-height: 100vh;
    background-color: #68201c;
    color: #d0d5d9;
    padding-top: 100px;
    padding-bottom: 70px;
  }
  
  @media(max-width: 700px){
    .App{
      padding-top: 70px;
    }
  }
  