.header{
    width: 100%;
    cursor: pointer;
    position: fixed;
    display: flex;
    text-transform: uppercase;
    background-color: brown;
    font-size: 3vw;
    padding-bottom: 15px;
    box-shadow: 0px 1px 5px #000000;
    color: #ffffff;
    z-index: 100;
}

@media (max-width: 1000px){
    .header{
        padding-top: 15px;
        font-size: 3vw;
    }
}