.media{
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 5px;
    margin: 5px 0;
    background-color: #1c0103;
    border-radius: 1px;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    img{
        border-radius: 10px;
    };
    h4{
        text-align: center;
    };
    .container{
        display: flex;
        justify-content: space-between;
    }
    span{
        display: flex;
        justify-content: space-between;
        padding: 0 2px;
        padding-bottom: 3px;
    };
}
.media:hover{
    background-color: white;
    color: black;
}
@media(max-width: 550px){
    .media{
        width: 46%;
    }
}